<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<title>{{ page.title }}</title>
	<!-- App Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png" />
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png" />
    <!-- For first and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png" />
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57-precomposed.png" />

    <!-- Stylesheets -->
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/media-queries.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		<script src="https://use.typekit.net/tfe3xmv.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>-->
    <!-- Scripts -->
</head>

<body>
	<div id="page">
		<!--  / Header  -->
		<div class="header-wrap">
		    <header id="masthead" class="site-header group" role="banner">
					<div class="title-area header-image">
						<h1 class="site-title" itemprop="headline">
							<a href="/">Felicity</a>
						</h1>
						<p class="site-description" itemprop="description">Empowering Parents to Succeed</p>
					</div>
		    </header>
		</div>
	  <!--  /// Header.  -->
	  {{ content }}
  	<!--  / Footer  -->
	    <footer id="footer" class="site-footer" role="contentinfo">
				<div class="quote-wrap">
			    <div class="quote">
			      <h4>Empowering <br />Parents <br />To Succeed</h4>
			    </div>
			  </div>
		    <div class="footer-wrap group">
					<div class="footer-contact">
						<p class="phone">+44 (0) 1697 73167</p>
						<p class="c-notice"><small>&copy; 2016 Felicity Whittle.</small></p>
					</div>
		    </div>
				<div class="footer-bar"></div>
	    </footer>
	    <!--  /// Footer.  -->
	</div>
	<!--  /// Page.  -->

	<script src="js/scrollTop.js"></script>
	<script src="js/animations.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="selectivizr-min.js"></script>
		<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
	<![endif]-->
</body>
</html>
